@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ethnocentric-rg';
    src: url('/fonts/ethnocentric-rg.otf') format('opentype');
}

.quill-editor .ql-editor {
    font-size: 16px;
    line-height: 1.6;
  }